.Imagem{
    height: 100vh;
    overflow-x: hidden;
    perspective: 2px;
    transform-style: preserve-3d;
}

.section{
    position: relative;
    height: 100vh;
    min-height: 700px;
    transform-style: inherit;
}

.section::before{
content: " ";
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
z-index: -1;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
transform: translateZ(-1px) scale (1.5);
}

.text{
    position: absolute;
    top: 25%;
    width: 100%;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.5);

    color: white;
    text-shadow: 0 0 5px #000;
    font-size: 20px;
    text-align: center;
}